{% extends "base.html.twig" %}
{% block body %}
<form method="post">
    <p>
        <label>Username</label>
        <input type="text" name="username" />
    </p>
    <p>
        <label>Game</label>
        <input type="text" name="game" />
    </p>
    <p>
        <label>Left Score</label>
        <input type="text" name="leftScore" />
    </p>
    <p>
        <label>Right Score</label>
        <input type="text" name="rightScore" />
    </p>
    <button type="submit">Register Bet</button>
</form>
{% endblock %}
